<div class="grid_8">
    <h3 class="serif_big">Hey there, you found my about page.</h3>
    <p>
        While I'm busy building a kick-ass website, you can get in touch with me by 
        using the communication's on the right. I'm available for freelance application design and ruby on rails development.
    </p>
    <hr />
    <p class="text_small">
        DwarfMondo is the studio of Matt Vasquez.
    </p>
</div>
<div class="grid_4 text_small">
    <p class="normalize">
        Twitter
        <br />
        <a href="http://twitter.com/dwarfmondo">@dwarfmondo</a>
        <br />
        <a href="http://twitter.com/cmv">@cmv</a>
    </p>
    <hr class="normalize dotted" />
    <p class="normalize">
        Email
        <br />
        <a href="mailto:dwarfmondo@gmail.com">dwarfmondo@gmail.com</a>
    </p>
    <hr class="normalize dotted" />
    <p>
        Contact us
        <br />
        <a href="http://dwarfmondo.wufoo.com/forms/dwarfmondo-a-contact-us/">via our contact form</a>
    </p>
</div>
<div class="clear"></div>