body {
	color: #fff;
	font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html,
body,
#wrapper,
#backdrop {
	background: #222;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#wrapper {
	position: relative;
}

#backdrop {
	border-top: 5px solid #111;
	position: absolute;
	top: 0;
	left: 0;
}

#logo {
	-ms-interpolation-mode: bicubic;
	margin: -80px 0 0 -280px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 580px;
	height: 113px;
}

#footer {
	background: #000;
	border-top: 1px solid #666;
	line-height: 40px;
	opacity: 0.50;
	filter: alpha(opacity = 50);
	position: relative;
	margin: -41px 0 0;
	padding: 0 20px;
	height: 40px;
	text-align: center;
	z-index: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}